*{
  padding: 0; margin: 0; box-sizing: border-box;
}

 .App{
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 5vh;
  gap: 4vh;
  background-image: radial-gradient(circle at 1px 1px, #DEDAD3 1px, transparent 0);
    background-color: #F4F1EC;
} 

.random{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 2vh;
  gap: 2vh;
}

.specific{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 2vh;
  gap: 2vh;
}

img{
  width: 300px;
  min-height: 250px;
}
button{
  padding: 2vh;
  width: 40vh;
}
input{
  padding: 2vh;
  width: 30vh;
}

@media (max-width: 600px) {
  .App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}